.container {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 42px;
  padding-top: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 10px 10px;
}

.title {
  font-size: 1.26rem;
  margin: 0;
}

.orders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}