.container {
  position: relative;
  width: 319px;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 16px;
  cursor: pointer;
  background-color: black;
  border-radius: 20px;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 319px;
  height: 168px;
  object-fit: cover;
  border-radius: 20px;
}

.img:hover {
  opacity: 0.6;
}

.text {
  color: white;
  z-index: 1;
}